.select {
  display: flex;
  align-items: center;
  margin: 12px 0;

  h5 {
    margin-bottom: 0;
  }

  &-wrapper {
    position: relative;
    cursor: pointer;
  }

  &-input {
    border: 1px solid black;
    border-radius: 3px;
    max-width: 300px;
    padding: 7px 15px;
    margin-left: 7px;
  }

  &-dropdown {
    position: absolute;
    list-style: none;
    display: none;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    padding: 5px 0;
    min-width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    overflow: auto;
    max-height: 300px;

    li {
      padding: 7px 15px;
      white-space: nowrap;

      &:hover {
        background-color: #adacac;
      }

      &.active {
        background-color: #9698a9;
      }
    }

    &.opened {
      display: block;
    }
  }
}