.tmplt-table {
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    padding: 8px;
    color: #777777;
    text-align: center;
    border: 1px solid #f4f4f4;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    font-size: 14px;
    * {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #777777;
    }
    .loader,
    .loader * {
      overflow: visible;
    }
  }
  th {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
  }
  tr {
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
  }
  thead tr {
    background-color: #9698a9;
    th { color: black; }
  }
  tbody tr:nth-child(even) {
    background-color: #eee;
  }
  tbody {
    .loader {
      position: relative;
      transform: translate(-50%, 0);
    }
    tr:nth-child(odd) {
      background-color: white;
    }
  }
}
